body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    word-wrap: break-word;
}

#appback {
    transition: all 1s ease;
}

.lighttheme {
    background-color: #F7F7F7;
    color: hsl(0, 0%, 19%);
}

.darktheme {
    background-color: hsla(0, 0%, 13%, 100%);
    color: hsl(0, 0%, 90%);
}

.Morning {
    align-self: stretch;
    padding: 50px;
    background: linear-gradient(87deg, #8CD7EF 0%, #EAEFF0 93%);
    border-radius: 16px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    display: inline-flex;
    min-width: fit-content;
}

.title {
    color: white;
    font-size: 48px;
    font-weight: 600;
    line-height: 60.96px;
}

.content_group {
    align-self: stretch;
    padding: 0 50px;
    border-radius: 16px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    display: inline-flex;
    min-width: fit-content;
    min-height: 300px;
}

.title2_group {
    flex: 1 1 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    display: inline-flex;
}

.title2 {
    align-self: stretch;
    color: #1973C1;
    font-size: 48px;
    font-weight: 600;
    line-height: 60.96px;
    transition: all 1s ease;
    scroll-margin-top: 100px;
}

.darktheme .title2 {
    color: hsla(200, 100%, 65%, 1);
}

.subtitle2 {
    align-self: stretch;
    font-size: 24px;
    font-weight: 500;
    line-height: 30.48px;
}

.app_item {
    width: 125px; height: 125px;
    background: hsla(0, 0%, 19%, 10%);
    border-radius: 16px;
    transition: all 250ms ease;
    position: relative;
}

.app_item:hover {
    background-color: hsla(0, 0%, 19%, 15%);
}

.app_item:active {
    background-color: hsla(0, 0%, 19%, 8%);
}

.app_item > a {
    width: 125px;
    height: 125px;
    vertical-align: middle;
}

.app_item > a > img {
    width: 75px;
    height: 75px;
    margin: 25px;
    object-fit: contain;
    text-align: middle;
    vertical-align: middle;
}

.apps_flex {
    align-self: stretch;
    justify-content: space-between;
    gap: 50px;
    display: inline-flex;
    flex-wrap: wrap;
}

.app_item_group {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12.50px;
    display: inline-flex
}

.app_item_name {
    text-align: center;
    font-size: 16px; 
    line-height: 20.32px;
    max-width: 125px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #E3E3E3;
    margin-left: -60px;
    text-align: center;
    border-radius: 8px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 250ms ease;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    margin-left: -12px;
    border-width: 12px;
    border-style: solid;
}

.tooltip .tooltiptext.top {
    bottom: 115%;
    left: 50%;
}

.tooltip .tooltiptext.top::after {
    top: 100%;
    left: 50%;
    border-color: #E3E3E3 transparent transparent transparent;
}

.tooltip .tooltiptext.bottom {
    top: 115%;
    left: 50%;
}

.tooltip .tooltiptext.bottom::after {
    bottom: 100%;
    left: 50%;
    border-color: transparent transparent #E3E3E3 transparent;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
}

.darktheme .app_item {
    background: hsla(0, 0%, 100%, 10%);
}

.darktheme .app_item:hover {
    background-color: hsla(0, 0%, 100%, 15%);
}

.darktheme .app_item:active {
    background-color: hsla(0, 0%, 100%, 8%);
}

.darktheme .tooltip .tooltiptext {
    background-color: #373737;
}

.darktheme .tooltip .tooltiptext::after {
    border-color: #373737 transparent transparent transparent;
}

.darktheme .tooltip .tooltiptext.bottom::after {
    border-color: transparent transparent #373737 transparent;
}