html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    word-wrap: break-word;
}

#appback {
    transition: all 1s ease;
}

.lighttheme {
    background-color: #F7F7F7;
    color: hsl(0, 0%, 19%);
    color-scheme: light;
}

.darktheme {
    background-color: hsla(0, 0%, 13%, 100%);
    color: hsl(0, 0%, 90%);
    color-scheme: dark;
}

#greeting_hero {
    align-self: stretch; 
    padding: 50px;
    border-radius: 16px;
    overflow: hidden;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    display: inline-flex;
    min-width: fit-content;
    min-height: 230px;
    position: relative;
    background-image: url('assets/morning.png');
}

#greeting_hero > #greeting_hero_overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(87deg, #B4C5CA 0%, rgba(234.12, 238.68, 240.12, 0) 93%)
}

.title {
    color: white;
    font-size: 48px;
    font-weight: 600;
    line-height: 60.96px;
}

.content_group {
    align-self: stretch;
    padding: 0 50px;
    border-radius: 16px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    display: inline-flex;
    min-width: fit-content;
    min-height: 300px;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 60px, 0);
        opacity: 0;
        visibility: hidden;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        visibility: visible;
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 60px, 0);
        opacity: 0;
        visibility: hidden;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeOutUp {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        visibility: visible;
    }
    to {
        transform: translate3d(0, 60px, 0);
        opacity: 0;
        visibility: hidden;
    }
}

@-webkit-keyframes fadeOutUp {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        visibility: visible;
    }
    to {
        transform: translate3d(0, 60px, 0);
        opacity: 0;
        visibility: hidden;
    }
}

.animate {
    animation-duration: 1.2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
}

.animate.fadein {
    animation-name: fadeOutUp;
    -webkit-animation-name: fadeOutUp;
}

.animate.fadein.active {
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.detector {
    padding: 600px 0;
}

.detector .animate {
    position: fixed;
}

.title2_group {
    flex: 1 1 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    display: inline-flex;
}

.title2 {
    align-self: stretch;
    color: #1973C1;
    font-size: 48px;
    font-weight: 600;
    line-height: 60.96px;
    transition: all 1s ease;
    scroll-margin-top: 100px;
}

.darktheme .title2 {
    color: hsla(200, 100%, 65%, 1);
}

.subtitle2 {
    align-self: stretch;
    font-size: 24px;
    font-weight: 600;
    line-height: 30.48px;
    display: flex;
    flex-direction: row;
    white-space: pre;
}

.subtitle3 {
    align-self: stretch;
    font-weight: 200;
}

.subtitle4 {
    align-self: stretch;
    font-size: 24px;
    font-weight: 200;
    display: flex;
    flex-direction: row;
    white-space: pre;
}

.accenttext {
    color: #1973C1;
}

.darktheme .accenttext {
    color: hsla(200, 100%, 65%, 1);
}

.app_item {
    width: 125px; height: 125px;
    background: hsla(0, 0%, 19%, 10%);
    border-radius: 16px;
    transition: all 250ms ease;
    position: relative;
}

.app_item:hover {
    background-color: hsla(0, 0%, 19%, 15%);
}

.app_item:active {
    background-color: hsla(0, 0%, 19%, 8%);
}

.app_item > a {
    width: 125px;
    height: 125px;
    vertical-align: middle;
    display: inline-block;
}

.app_item > a > img {
    width: 75px;
    height: 75px;
    margin: 25px;
    object-fit: contain;
    text-align: middle;
    vertical-align: middle;
}

.apps_flex {
    align-self: stretch;
    justify-content: space-between;
    gap: 50px;
    display: inline-flex;
    flex-wrap: wrap;
}

.app_item_group {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12.50px;
    display: inline-flex
}

.app_item_name {
    text-align: center;
    font-size: 16px; 
    line-height: 20.32px;
    max-width: 125px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #E3E3E3;
    margin-left: -60px;
    text-align: center;
    border-radius: 8px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 250ms ease;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    margin-left: -12px;
    border-width: 12px;
    border-style: solid;
}

.tooltip .tooltiptext.top {
    bottom: 115%;
    left: 50%;
}

.tooltip .tooltiptext.top::after {
    top: 100%;
    left: 50%;
    border-color: #E3E3E3 transparent transparent transparent;
}

.tooltip .tooltiptext.bottom {
    top: 115%;
    left: 50%;
}

.tooltip .tooltiptext.bottom::after {
    bottom: 100%;
    left: 50%;
    border-color: transparent transparent #E3E3E3 transparent;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
}

.darktheme .app_item {
    background: hsla(0, 0%, 100%, 10%);
}

.darktheme .app_item:hover {
    background-color: hsla(0, 0%, 100%, 15%);
}

.darktheme .app_item:active {
    background-color: hsla(0, 0%, 100%, 8%);
}

.darktheme .tooltip .tooltiptext {
    background-color: #373737;
}

.darktheme .tooltip .tooltiptext::after {
    border-color: #373737 transparent transparent transparent;
}

.darktheme .tooltip .tooltiptext.bottom::after {
    border-color: transparent transparent #373737 transparent;
}

#quote_of_page {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#quote_of_page.fadeIn {
    opacity: 1;
}
